.box{
    padding: 15px 35px 35px 35px;
    background-color: white;
    border: #dbdbdb 1px solid;
    width: 100%;
    max-width: 430px;
    text-align: center;
    border-radius: 3px;
}
.box_two{
    padding: 15px;
    background-color: white;
    margin-top: 20px;
    border: #dbdbdb 1px solid;
    width: 100%;
    max-width: 430px;
    text-align: center;
    border-radius: 3px;
}
.box_two a{
    color: rgba(26, 127, 243, 0.861);
    cursor: pointer;
}
.box_two a:hover{
    text-decoration: underline;
}
.box img{
    display:block;
    margin: 25px auto 10px;
}
.hror{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #DfDfDf;
    line-height: 0.1em;
    margin: 30px 0 20px; 
    color: #8f8f8f;
    font-weight: 500;
}  
.hror span { 
    background:#fff; 
} 